<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="http://localhost:4200/" class="navbar-band">Todo App</a></div>
    
    <ul class="navbar-nav">
      <li><a *ngIf="authSevice.isLogedIn()" routerLink="/welcome/sameer" class="nav-link">Home</a></li>
      <li><a *ngIf="authSevice.isLogedIn()" routerLink="/todos" class="nav-link">Todos</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a *ngIf="!authSevice.isLogedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="authSevice.isLogedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>
  </nav>
</header>